<!DOCTYPE html>
<hede>
    <title>Login</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</hede>
<html>
<body>
    <form  action="/auth" method="post">
        <div class="jumbotron">
            <div class="container"><h1> BID Window</h1></div>
          </div>
      
          <div class="container">
              Log in
              <hr/>
              <div class="row">
          <div class="col-sm-6">
            <label for="fname" class="form-label">User Name</label>
        <input type="text"  name="username" class="form-control" id="fname" placeholder="User Name">
        <label for="sname" class="form-label">Password</label>
        <input type="text" name="password"   class="form-control" id="sname" placeholder="second name">
       
          </div>
          

        </div>
        <br/>
        <br/>
<button type="submit" class="btn btn-info">Log IN</button>
<a class="nav-link " href="/signup" tabindex="-1" aria-disabled="true">sign up
  

        </div>

    </form>

</body>

</html>