<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Hello, the world!</title>
  </head>
  <body>
   <form action="/Register" method="post"  enctype="multipart/form-data">


  
   <div>
    <%- include('Navbar'); %>

   </div>
    

     
  
        

    <div class="container">
        User Registration
        <hr/>
        <div class="row">
    <div class="col-sm-6">
        <label for="fname" class="form-label">First Name</label>
        <input type="text"  name="fname" class="form-control" id="fname" placeholder="first name">
        <label for="sname" class="form-label">Second Name</label>
        <input type="text" name="mname"   class="form-control" id="sname" placeholder="second name">
        <label for="lname" class="form-label">Last Name</label>
        <input type="text"name="lname" class="form-control"  placeholder="last name">
        <label for="fname" class="form-label">Email</label>
        <input type="text" name="email" class="form-control"  placeholder="Email">
        <label for="sname" class="form-label">Street</label>
        <input type="text"name="street" class="form-control"  placeholder="Strret">
        <label for="lname" class="form-label">Tel</label>
        <input type="text"name="tel" class="form-control"  placeholder="Telephone">
      
    
    
    
    </div>
      <div class="col-sm-6">
        <label for="fname" class="form-label">User Name</label>
        <input type="text" name="username" class="form-control"  placeholder="User Name">
        <label for="sname" class="form-label">Password</label>
    <select  class="form-control" name="type"  placeholder="select type"><option value="1">Buyer</option>
        <option value="2">Seller</option>
    </select>
       
       
        <input type="text" name="password" class="form-control" placeholder="Password">
        <label for="lname" class="form-label">Conform Password</label>
        <input type="text"name="Cpassword" class="form-control"  placeholder="Confirm Password">
        <input type="file" value="upload me "   name="file"/>
        <br/>   <br/>
         <button type="submit" class="btn btn-info">Register</button>
        
      </div>
    
   
    </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
 
 </form>

</body>
</html>